# Виртуальное окружение
venv/
myenv/
.env

# База данных Chroma
chroma_db/

# Файлы Python
__pycache__/
*.pyc
*.pyo
*.pyd
.Python

# VS Code
.vscode/
*.code-workspace

# Системные файлы Mac
.DS_Store

# Фронтенд
frontend/node_modules/
frontend/.next/
frontend/out/